/* レビューポップアップ */
/* ウインドウ */
.popup {
  background-color: #fff;
  border-radius: 45px;
  border-color: #cccccc;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.5);
  display: none;
  position: fixed;
  border: solid;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 20%;
  margin: auto;
  width: 650px;
  height: 600px;
}

/* チェックボックスの初期設定 */
#popup-on {
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup {
  display: block;
}

/* 閉じる */
.icon-close {
  background: rgba(255, 255, 255, 0);
  color: #808080;
  font-size: 100px;
  padding: 0 40px;
  position: absolute;
  right: 0;
}

/* 開く */
.btn-open {
  display: block;
  background-color: #01b6ed;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 200px;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content {
  margin: 40px auto 40px auto;
  width: 90%;
  font-size: 40px;
}

input#btn_send {
  background-color: #66ff99;
  border-style: none;
  font-size: 30pt;
  color: #000;
  width: 400px;
  height: 60px;
}

textarea#review {
  width: 600px;
  height: 450px;
  font-size: 35px;
}