/* レビューポップアップ */
/* ウインドウ */
.popup {
  background-color: #fff;
   border: solid;
  border-radius: 45px;
  border-color: #99cc99;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.5);
  display: none;
  position: fixed;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 20%;
  margin: auto;
  width: 600px;
  height: 550px;
}

/* チェックボックスの初期設定 */
#popup-on {
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup {
  display: block;
}

/* 閉じる */
.icon-close {
  background: rgba(255, 255, 255, 0);
  color: #808080;
  font-size: 100px;
  padding: 0 40px;
  position: absolute;
  right: 0;
  z-index: 2;
}

/* 開く */
.btn-open {
  display: block;
  background-color: #01b6ed;
  border-radius: 10px;
  color: #333;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 200px;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content {
  margin: 40px auto 40px auto;
  width: 90%;
  font-size: 40px;
}

input#btn_select {
  position: relative;
  top: -10px;
  margin-right: 35px;
  transform: scale(3.0);
}

input#btn_send {
  background-color: #089b48;
  border-style: none;
  font-size: 30pt;
  width: 200px;
  color: #000;
  height: 65px;
}

textarea#review {
  width: 600px;
  height: 450px;
  font-size: 35px;
}

header.site-header{
    background: #99cc99;
    height: 120px;
    width: 601px;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 40%;
    border-radius: 45px 45px 0px 0px;
    margin: auto;
    position: fixed;
}